<ion-header>
    <ion-navbar color="primary" class="border" style="padding-top: 50px">
        <ion-title text-left>Transporte Escolar</ion-title>
    </ion-navbar>

    <header>
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </header>

</ion-header>

<ion-content class="signup-style">


    <ion-list-header color="ice"><strong class="titulo"><i class="fa fa-user"></i>&nbsp;&nbsp;Informações
        adicionais</strong></ion-list-header>

    <ion-item color="light">
        <ion-label>Data de Nascimento:</ion-label>
        <ion-datetime [(ngModel)]="data" displayFormat="MM/DD/YYYY"></ion-datetime>
    </ion-item>
    <br>
    <ion-item color="light">
        <ion-label>Instituição de Ensino:</ion-label>
        <ion-input [(ngModel)]="instituicao"></ion-input>
    </ion-item>
    <br>
    <ion-item color="light">
        <ion-label>Endereço:</ion-label>
        <ion-input [(ngModel)]="endereco"></ion-input>
    </ion-item>
    <br>
    <ion-item color="light" class="linha">
        <ion-label>Dias de aula:</ion-label>
    </ion-item>
    <br>
    <ion-item color="light" class="linha">
        <ion-label>Segunda</ion-label>
        <ion-checkbox [(ngModel)]="seg"></ion-checkbox>
    </ion-item>
    <ion-item color="light" class="linha">
        <ion-label>Terça</ion-label>
        <ion-checkbox [(ngModel)]="ter"></ion-checkbox>
    </ion-item>
    <ion-item color="light" class="linha">
        <ion-label>Quarta</ion-label>
        <ion-checkbox [(ngModel)]="qua"></ion-checkbox>
    </ion-item>
    <ion-item color="light" class="linha">
        <ion-label>Quinta</ion-label>
        <ion-checkbox [(ngModel)]="qui"></ion-checkbox>
    </ion-item>
    <ion-item color="light" class="linha">
        <ion-label>Sexta</ion-label>
        <ion-checkbox [(ngModel)]="sex"></ion-checkbox>
    </ion-item>
    <br>
    <br>

    <button ion-button  color="primary" style="padding-left: 80px; padding-right: 80px" id="center" (click)="salvar()">Salvar</button>
    <br>

</ion-content>


