<ion-header>
    <ion-navbar color="primary" class="border">
        <ion-buttons left class="botao" menuToggle>
            <button ion-button>
                <ion-icon name="menu" class="icone" color="light"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title text-left>Paradas Favoritas</ion-title>
    </ion-navbar>

    <header>
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </header>

</ion-header>

<ion-content class="signup-style">
    <br>

    <div *ngIf="parada != null">
        <ion-item text-capitalize class="linha" *ngFor="let p of parada" (click)="abreList(p)">
            <img src="http://gtcontroller.com.br/api_rastreio/bus.png" item-left>
            {{p.parada_nome}}
        </ion-item>
    </div>

    <ion-item *ngIf="parada == null" class="linha">
        <i class="fa fa-close" item-left></i>&nbsp;&nbsp;Não constam paradas favoritas
    </ion-item>


</ion-content>


