<ion-header>
    <ion-navbar color="primary" class="border">
        <ion-title text-left>Avaliações</ion-title>
        <ion-buttons right class="botao">
            <button ion-button (click)="avaliarBus()" *ngIf="page == 1">
                <ion-icon name="checkmark" class="icone" color="light"></ion-icon>
            </button>
            <button ion-button (click)="avaliarMot()" *ngIf="page == 0">
                <ion-icon name="checkmark" class="icone" color="light"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>

    <header>
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </header>

</ion-header>

<ion-content class="signup-style">
    <br>

    <ion-list-header *ngIf="page == 1" text-capitalize>
        <ion-avatar item-left>
            <img src="http://gtcontroller.com.br/api_rastreio/files/onibus/10.jpg" imageViewer>
        </ion-avatar>
        Placa: {{objeto[0].name | uppercase}}<br>
        Modelo: {{objeto[0].model | lowercase}}
    </ion-list-header>

    <ion-list-header *ngIf="page == 0" text-capitalize>
        <ion-avatar item-left>
            <img src="http://gtcontroller.com.br/api_rastreio/files/motoristas/1.jpg" imageViewer>
        </ion-avatar>
        Nome: {{objeto.motorista |lowercase}}
    </ion-list-header>


    <ion-card>
        <ion-list-header *ngIf="page == 1" text-center>Avalie o ônibus
            <rating [(ngModel)]="rate"
                    readOnly="false"
                    max="5"
                    emptyStarIconName="star-outline"
                    halfStarIconName="star-half"
                    starIconName="star"
                    nullable="false"
                    (ngModelChange)="onModelChange($event)">
            </rating>
        </ion-list-header>

        <ion-list-header *ngIf="page == 0" text-center>Avalie o motorista
            <rating [(ngModel)]="rate"
                    readOnly="false"
                    max="5"
                    emptyStarIconName="star-outline"
                    halfStarIconName="star-half"
                    starIconName="star"
                    nullable="false"
                    (ngModelChange)="onModelChange($event)">
            </rating>
        </ion-list-header>

        <br>

        <ion-list-header text-center>Deseja fazer alguma reclamação ou elogio?</ion-list-header>
        <textarea [(ngModel)]="obs"></textarea>


    </ion-card>


</ion-content>


