page-avaliar2 {
  .linha{
    color: #515151;
    font-size: 15px;
  }

  ul {
    padding: 0px;

    &.rating li {
      padding: 5px 10px !important;
      background: none;
      color: #337AB7;


      ion-icon {
        font-size: 30px;
      }
    }
  }

  textarea{
    background-color: rgba(81, 81, 81, 0.2);
    width: 100%;
    height: 150px;
    resize: none
  }

}
