<ion-header>
    <ion-navbar color="primary" class="border" style="padding-top: 50px">
        <ion-buttons left class="botao" menuToggle>
            <button ion-button>
                <ion-icon name="menu" class="icone" color="light"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title text-left>Transporte Escolar</ion-title>
    </ion-navbar>

    <header>
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </header>

</ion-header>

<ion-content class="signup-style">


    <ion-list-header color="ice"><strong class="titulo"><i class="fa fa-user"></i>&nbsp;&nbsp;Registre-se</strong></ion-list-header>

    <button ion-button color="primary" (click)="logar()" id="botaoFb"><i class="fa fa-facebook-official"></i>
        &nbsp;&nbsp;Entrar com Facebook
    </button>
    <button ion-button color="branco" (click)="logarGoogle()" id="botaoFb" style="color: #515151;"><i
            class="fa fa-google" id="iconeGoogle"></i>
        &nbsp;&nbsp;Entrar com Google
    </button>

    <br>
    <br>
    <ion-list-header color="ice"><strong class="titulo"><i class="fa fa-user"></i>&nbsp;&nbsp;Entrar com cadastro</strong></ion-list-header>

    <ion-input id="inp" placeholder="login" [(ngModel)]="email"></ion-input>
    <br>
    <ion-input id="inp" placeholder="senha" [(ngModel)]="senha" type="password"></ion-input>
    <br>
    <button ion-button color="branco" (click)="logarEmail()" id="botaoFb" style="color: #515151;">
        &nbsp;&nbsp;Entrar
    </button>

</ion-content>


