page-router {
  #botaoFb {
    width: 80%;
    padding: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #iconeGoogle {
    color: #F35048
  }

  #inp{
    background-color: rgba(51, 122, 183, 0.22);
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
  }

}
