<ion-header>
  <ion-navbar color="primary" class="border">

    <ion-title text-left>Detalhes</ion-title>

  </ion-navbar>

  <header>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </header>

</ion-header>

<ion-content class="signup-style" style="height: 100%">

  <div #map id="map2"></div>
  <div style="height: 30%">
    <ion-item id="info" text-capitalize>
      <i class="fa fa-bus"></i>&nbsp;&nbsp;{{carro[0].name | lowercase}}
    </ion-item>
    <ion-item id="info">
      <i class="fa fa-road"></i>&nbsp;&nbsp;Localização Atual: {{carro[0].endereco}}<br>
      <i class="fa fa-bus"></i>&nbsp;&nbsp;Distância: {{carro[0].distancia}}<br>
      <i class="fa fa-clock-o"></i>&nbsp;&nbsp;Tempo de chegada: {{carro[0].tempo}}<br>
    </ion-item>
    <ion-item id="info">
      <ion-row>
        <ion-col col-2>
          <ion-avatar>
            <img src="{{motorista}}?random={{time}}" imageViewer>
          </ion-avatar>
        </ion-col>
        <ion-col col-10 text-capitalize>
          <i class="fa fa-drivers-license-o"></i>&nbsp;&nbsp;Motorista: {{carro[0].motorista | lowercase}}
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item id="info">
      <ion-row>
        <ion-col col-2>
          <ion-avatar>
            <img src="{{onibus}}?random={{time}}" imageViewer>
          </ion-avatar>
        </ion-col>
        <ion-col col-10>
          <i class="fa fa-cc"></i>&nbsp;&nbsp;Ônibus: {{carro[0].name}}
        </ion-col>
      </ion-row>
    </ion-item>
  </div>




</ion-content>


