<ion-header>
    <ion-navbar color="primary" class="border">

        <ion-title text-left>Veículos</ion-title>
        <ion-buttons right class="botao">
            <button ion-button (click)="clickFavorito()" *ngIf="like == 0">
                <i class="fa fa-thumbs-o-up" id="icone"></i>
            </button>
            <button ion-button (click)="clickUnFavorito()" *ngIf="like == 1">
                <i class="fa fa-thumbs-up" id="icone"></i>
            </button>
        </ion-buttons>
    </ion-navbar>

    <header>
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </header>

</ion-header>

<ion-content class="signup-style" id="content">

    <div>
        <img src="assets/placa.png" id="mapa">
    </div>

    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-item id="info" *ngFor="let p of carros" (click)="abreDetalhes(p)" text-capitalize class="linha">
        <ion-row>
            <ion-col col-6>
                <i class="fa fa-bus"></i>&nbsp;&nbsp;{{p[0].name | lowercase}}<br>
            </ion-col>
            <ion-col col-6 text-right>
                <strong><i class="fa fa-clock-o"></i>&nbsp;&nbsp;{{p[0].tempo}}</strong>
            </ion-col>
        </ion-row>
    </ion-item>


</ion-content>


