<ion-header>
  <ion-navbar color="primary" class="border">
    <ion-buttons left class="botao" menuToggle>
      <button ion-button>
        <ion-icon name="menu" class="icone" color="light"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title text-left>Transporte Escolar</ion-title>
    <ion-buttons right class="botao">
      <button ion-button color="ice">
        <ion-icon name="menu" color="ice" class="icone"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <header>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </header>

</ion-header>

<ion-content class="signup-style">

  <div #map id="map"></div>

</ion-content>


