<ion-header>
    <ion-navbar color="primary" class="border">
        <ion-buttons left class="botao" menuToggle>
            <button ion-button>
                <ion-icon name="menu" class="icone" color="light"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title text-left>Avaliações</ion-title>
    </ion-navbar>

    <header>
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </header>

</ion-header>

<ion-content class="signup-style">
    <br>
    <ion-segment [(ngModel)]="tipo" color="primary" (ionChange)="teste()">
        <ion-segment-button value="0">
            <i class="fa fa-bus" item-left style="color: #337AB7"></i>&nbsp;&nbsp;Ônibus
        </ion-segment-button>
        <ion-segment-button value="1">
            <i class="fa fa-drivers-license" item-left style="color: #337AB7"></i>&nbsp;&nbsp;Motoristas
        </ion-segment-button>
    </ion-segment>
    <br>

    <div *ngIf="tipo == 1 && motoristas != null">
        <ion-item color="light" text-capitalize class="linha" *ngFor="let p of motoristas" (click)="avaliar(p, 0)">
            <ion-avatar item-left>
                <img src="http://gtcontroller.com.br/api_rastreio/files/motoristas/1.jpg" imageViewer>
            </ion-avatar>
            Nome: {{p.motorista}}
        </ion-item>
    </div>

    <div *ngIf="tipo == 0 && carros != null">
        <ion-item color="light" text-capitalize class="linha" *ngFor="let p of carros" (click)="avaliar(p, 1)">
            <ion-avatar item-left>
                <img src="http://gtcontroller.com.br/api_rastreio/files/onibus/10.jpg" imageViewer>
            </ion-avatar>
            Placa: {{p[0].name}}<br>
            Modelo: {{p[0].model}}
        </ion-item>
    </div>

    <ion-item *ngIf="tipo == 1 && motorista" class="linha">
        <i class="fa fa-close" item-left></i>&nbsp;&nbsp;Não constam motoristas
    </ion-item>

    <ion-item *ngIf="tipo == 0 && carros == null" class="linha">
        <i class="fa fa-close" item-left></i>&nbsp;&nbsp;Não constam veículos
    </ion-item>






</ion-content>


