// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";

// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;

@import "ionic.globals";

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
        primary: #337AB7,
        secondary: rgba(212, 148, 74, 0.94),
        danger: #F35048,
        light: #f4f4f4,
        dark: #515151,
        ice: rgba(0, 0, 0, 0),
        verde: #1ed840,
        branco: #FFFFFF
);

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here

// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";

// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";

// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";

ion-card{
  padding: 15px;
}

.botoes{
  float: right;
}

.icone {
  font-size: 25px;
}

.border{
  border-bottom: solid 2px;
  border-color: rgba(212, 148, 74, 0.94);
}

.border2{
  border-bottom: solid 2px;
  border-color: #337AB7;
}

.border3{
  border-top: solid 2px;
  border-color: #337AB7;
}

#center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.botao{
  padding: 10px 10px 10px 10px;
}

ion-content.signup-style {
  background-color: #f4f4f4;
}

.titulo {
  color: #337AB7;
}

.bot {
  float: left;
  background-color: #337AB7;
  color: #FFFFFF;
  padding: 10px;
  margin: 10px;
}



