<ion-menu [content]="content">
    <ion-header class="border2">
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <ion-toolbar color="light">
            <ion-title></ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content class="signup-style">
        <img src="assets/gt.png">
        <ion-list color="ice">
            <button menuClose ion-item color="ice" style="color: #787878;" (click)="abreHome()">
                <i class="fa fa-location-arrow"></i>&nbsp;&nbsp;Mapa
            </button>
            <button menuClose ion-item color="ice" style="color: #787878;" (click)="abreFavoritos()">
                <i class="fa fa-thumbs-up"></i>&nbsp;&nbsp;Paradas Favoritas
            </button>
            <button menuClose ion-item color="ice" style="color: #787878;" (click)="abreAvaliar()">
                <i class="fa fa-star-half-o"></i>&nbsp;&nbsp;Avaliações
            </button>
            <button menuClose ion-item color="ice" style="color: #787878;" (click)="sair()">
                <i class="fa fa-sign-out"></i>&nbsp;&nbsp;Sair
            </button>

        </ion-list>
    </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>